### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### Docker ###
docker-compose.override.yml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# pip
.cache

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Terraform
.terraform
terraform.tfstate*
