<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Derin Works - Covid-19 Forecaster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h2>COVID-19 Forecaster</h2>
<form method="POST" action="/">
    <div class="form-group">
        <label for="category">Category:</label>
        <select class="form-control" name="category" id="category" required>
            {% for cat in categories %}
            {% if cat == category %}
            <option value="{{cat}}" selected>{{cat}}</option>
            {% else %}
            <option value="{{cat}}">{{cat}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="key">Filter:</label>
        <input type="text" class="form-control" name="key" id="key" value="{{key}}">
    </div>
    <div class="form-group">
        <label for="num_of_days">Num of days:</label>
        <input type="number" class="form-control" name="num_of_days" id="num_of_days" min="1" max="10"
               value="{{num_of_days}}" required>
    </div>
    <div class="form-group">
        <label for="p">Num of autoregressive Terms:</label>
        <input type="number" class="form-control" name="p" id="p" min="0" max="10" value="{{p}}" required>
    </div>
    <div class="form-group">
        <label for="q">Num of nonseasonal differences:</label>
        <input type="number" class="form-control" name="q" id="q" min="0" max="10" value="{{q}}" required>
    </div>
    <div class="form-group">
        <label for="d">Num of lagged forecast errors:</label>
        <input type="number" class="form-control" name="d" id="d" min="0" max="10" value="{{d}}" required>
    </div>
    {% if not plot %}
    <button type="submit" class="btn btn-default">Forecast</button>
    {% endif %}
</form>
</div>
{% if plot %}
<div class="container" id="forecast-container"></div>

<!-- Load React. -->
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<!-- Load React component. -->
<script>
'use strict';

const e = React.createElement;

class ForecastComponent extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            plot: "{{plot}}"
        }
    }

    getPlot() {
        let cat = document.getElementById('category').value
        let key = document.getElementById('key').value
        let days = document.getElementById('num_of_days').value
        let p = document.getElementById('p').value
        let q = document.getElementById('q').value
        let d = document.getElementById('d').value
        fetch('/forecast?category='+cat+'&key='+key+'&num_of_days='+days+'&p='+p+'&q='+q+'&d='+d)
        .then(res => {
            if (!res.ok) {
                if (res.status === 404) {
                    window.alert(key + ' => ' + res.statusText)
                }
                throw Error(res.statusText);
            }
            return res.json()
        })
        .then((data) => {
            this.setState(data)
        })
        .catch(console.log)
    }

    render() {
        let imgSrc = "data:image/png;base64," + this.state.plot
        return e('div', null,
            e('img', {src: imgSrc}),
            e('button', {className: "btn btn-default", onClick: () => this.getPlot()}, 'Refresh'),
        );
    }
}

const domContainer = document.querySelector('#forecast-container');
ReactDOM.render(e(ForecastComponent), domContainer);
</script>
{% endif %}
</body>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.derinworksllc.com/"> Derin Works LLC</a>
    </div>
</footer>
</html>